<div class="container my-3">
  <div class="row justify-content-center">
    <div class="col-lg-8 col-md-8 col-12 bg-light rounded p-4">
      <h2 class="text-center h3 mb-3 fw-bold">Novo Gênero</h2>
      <%= simple_form_for(@genre) do |f| %>
        <%= f.input :name, label: 'Nome:' , error: 'Nome é obrigatório.', label_html: { class: 'fw-bold' } %>
        <div class="d-grid gap-2 col-6 mx-auto my-4">
          <%= f.button :submit, 'Salvar gênero', class: 'btn btn-success fw-bold' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
