// Define variables for your color scheme

// For example:
$red: #fd1015;
$blue: #0d6efd;
$yellow: #ffc65a;
$orange: #e67e22;
$green: #1edd88;
$gray: #0e0000;
$light-gray: #f4f4f4;
$teal: #5dc4c4;
$tan: #d0a77a;
$brown: #3b3223;
$pink: #f7a5c5;

// Ja E Colors
$dark-blue: #21265a;
$dark-green: #00582a;
$dark-red: #942627;
$dark-pink: #ae5c59;
$dark-mustard: #b97e45;
$dark-yellow: #f0a11e;
$light-green: #ab9e48;
$other-pink: #B9614A;
$jae-wine: #76285a;
$dark-gray: #d0cdc7;
$darker-gray: rgb(141,	148,	154	);
$light-gray: #e8e7e3;
$moss-green:  rgb(165,	155,	82)
