<%= turbo_frame_tag "content" do %>
  <%= render 'shared/home_header' %>
  <div class="container-fluid mx-2 pe-5">
    <div class="row about-us">
      <div class="col-12 mb-1">
        <h1 class="mb-3">Quem somos</h1>
        <p>O Jaé! é um guia cultural atualizado diariamente, que reúne um mar de atrações culturais e de lazer pelo Rio de Janeiro. </p>
        <p>Filmes, peças, shows, eventos, exposições e muito mais. Prático, rápido e direto. </p>
        <p>Vem fazer essa cidade fervilhar como nunca, ou melhor, como sempre.</p>

      </div>
      <h2>Criadoras</h2>
      <div class="col-12 col-lg-6">

        <p>
          A estrategista em comunicação <strong>Mariucha Moneró</strong> é carioquíssima, mãe de gêmeos e sol-dependente. A veia de jornalista embalou o projeto do JáÉ! Exausta e inconformada em ter que entrar em vários sites para saber o que estava rolando pela cidade, decidiu resolver o problema. Só queria programar o próprio fim de semana, mas achou legal compartilhar. Curtiu?</p>
      </div>
      <div class="col-12 col-lg-6">
        <p>
          <strong>Rejane Schainberg Ferman</strong> sempre foi conectada à cultura: fez artes plásticas, designer gráfico e pós em Literatura. Com fôlego de sobra para curtir a programação cultural carioca, virou consultora dos amigos que ligavam querendo saber o que acontecia pelo Rio. A dificuldade de encontrar toda a programação em um só lugar a fez criar o JaÉ! Ah, e o nome JáÉ! foi inspirado no vocabulário do filho. Cultura é para todas as gerações, certo?
        </p>

      </div>
    </div>
  </div>
<% end %>
