<%= turbo_frame_tag "content" do %>
  <%= render 'shared/home_header' %>
  <div class="container-fluid mx-2 pe-5">
    <div class="row about-us">
      <div class="col-12 mb-3">
        <h1>Quem somos</h1>
        <p>Inovação e tecnologia fazem parte da nossa vida, mas nem por isso deixamos de sentir falta do que tinha de bom e prático na vida analógica. <br>
        Sim, passamos dos 50 anos e tudo o que queríamos era ter de volta a programação do fim de semana reunida em um só lugar.</p>
        <p>Agora temos. E vocês também. Do jeitinho que sempre tivemos, mas digital. Aqui não tem essa de época. Os 50+ e os 50- podem curtir a mesma coisa.</p>
        O Rio de Janeiro é uma cidade plural, com um jeito diferente de ser e tem um mar de opções de programação e entretenimento. O que você vai encontrar aqui é o resultado de uma consultoria. Nos baseamos na geografia da cidade e em nosso olhar pessoal. O objetivo é básico, oferecer uma forma rápida de escolher um bom programa.
      </div>
      <div class="col-12 col-lg-6">
        <p>
          <strong>Mariucha Moneró </strong>é jornalista e estrategista em comunicação. Dividiu a carreira entre o jornalismo impresso e a direção de agências de comunicação: MMpress, Ideal RJ e a MMoneró Comunicação.

          Carioca, mãe de gêmeos, tricolor e sol-dependente.

          O esporte sempre fez parte de sua vida. Não para praticar, é sedentária confessa, mas como paixão e, depois, como profissão. Foi a primeira mulher de um jornal brasileiro a cobrir uma Copa do Mundo de Futebol, pelo Jornal do Brasil.

          Na Copa de 1994, nos EUA, foi jornalista-chefe do filme oficial da FIFA, Two Billion Hearts.

          No comando das agências, atendeu as maiores marcas do esporte, clubes de futebol e Federações Nacionais e Internacionais.

          A veia de jornalista embalou o projeto do JáÉ! Exausta de se ver obrigada a entrar em vários sites de venda de ingressos para saber o que estava rolando pela cidade, resolveu dar fim à aflição. Só queria programar o próprio fim de semana, mas decidiu compartilhar. Curtiu?</p>
      </div>
      <div class="col-12 col-lg-6">
        <p>
          <strong>Rejane Schainberg Ferman</strong> é formada em artes plásticas e design gráfico pela UFRJ. Participou de várias exposições como no Solar Grandjean de Montigny e na Casa França Brasil, entre outros.
          Foi diretora da RF Design por 20 anos, escritório de design gráfico. Atuou na criação de publicações de livros e revistas, branding de marcas e projetos institucionais de empresas. Editora Elsevier, Secretaria de Educação, Technion Engenharia, Lar da Esperança, Cadeia de cinemas Severiano Ribeiro, Teatro Miguel Falabella estão entre seus clientes.
          Atua como free-lancer na área de design gráfico.
          Pós graduada em literatura na PUC (2022) com contos premiados em coletâneas.
          Mais carioca do que mineira, casada, está sempre em busca das novidades do Rio ou voltando a lugares especiais. Com saudade do jornal impresso, que publicava a programação do fim de semana, resolveu fazer algo para facilitar o acesso ao que há de melhor acontecendo no Rio. Fez o JáÉ!
          PS – O nome JáÉ! foi inspirado no vocabulário do filho, na certeza de que cultura não tem geração
        </p>

      </div>
    </div>
  </div>
<% end %>
