<%= turbo_frame_tag "content" do %>
  <%= render 'shared/home_header' %>
  <div class="container-fluid mx-2 pe-5">
    <div class="row about-us">
      <div class="col-12 mb-1">
        <h1 class="mb-3">Sobre o JáÉ</h1>
        <p>O JáÉ! é um guia cultural atualizado diariamente, que reúne um mar de atrações culturais e de lazer pelo Rio de Janeiro. <br>
          De filmes, peças e shows a eventos, exposições e muito mais. Prático, rápido e direto. <br>
          Aqui, a cidade ganha vida todos os dias. Vem com a gente fazer o Rio pulsar ainda mais!</p>
      </div>
      <div class="col-12 col-lg-6">
        <h2>Idealizadora</h2>
        <p>
          <strong>Rejane Schainberg Ferman</strong> sempre esteve conectada à cultura. Formada em Artes Plásticas e Design Gráfico pela UFRJ e pós-graduação em Literatura pela PUC, construiu uma trajetória diversificada. Durante 20 anos, dirigiu a empresa RF Design, desenvolvendo projetos culturais e empresariais. Além disso, participou de exposições coletivas e individuais e teve contos premiados em diversas coletâneas. Com energia de sobra para aproveitar a programação cultural carioca, tornou-se uma referência entre amigos que buscavam dicas sobre o que estava acontecendo no Rio. O desejo de facilitar o acesso à vasta agenda cultural da cidade a levou a criar o JáÉ!, um espaço que reúne todas as atrações culturais em um só lugar.
  E o nome JáÉ!? Foi inspirado no vocabulário do filho. Afinal, cultura é para todas as gerações!
        </p>



      </div>
      <div class="col-12 col-lg-6">
        <h2>Editor</h2>
        <p>
          Jornalista formado pela ESPM-Rio, <strong>Leo Garfinkel</strong> é nascido e criado na cidade do Rio de Janeiro. Começou a carreira no programa Painel, da Rádio Roquette-Pinto, com entradas ao vivo sobre atrações culturais do final de semana. Na Rio TV Câmara, veículo de televisão do legislativo carioca, foi responsável pela Agenda Cultural dos telejornais e também pela produção do “O Meu Lugar”, programa que explora a história, curiosidades e atrações dos bairros do Rio de Janeiro. Apaixonado por praia, esportes, natureza, culinária, carnaval e claro, por um agito urbano — seja um samba ou festinha. Se for para descobrir um programa novo no Rio, é só chamar!
        </p>
      </div>
    </div>
  </div>
<% end %>
