
<%= turbo_frame_tag "content" do %>
  <div class="container">
    <div class="row" style="margin-top: 7rem; margin-right: 0; margin-left: 0;">
      <% @shows.each do |show| %>
        <%= render partial_select(show), leisure: show %>
      <% end %>
    </div>
  </div>
<% end %>
