
<%= turbo_frame_tag "content" do %>
  <div class="container">
    <div class="row" style="margin-top: 7rem; margin-right: 0; margin-left: 0;">
      <% @events.each do |events| %>
        <%= render partial_select(events), leisure: events %>
      <% end %>
    </div>
  </div>
<% end %>
