
<%= turbo_frame_tag "content" do %>
  <div class="container">
    <div class="row" style="margin-top: 7rem; margin-right: 0; margin-left: 0;">
      <% @expos.each do |expo| %>
        <%= render partial_select(expo), leisure: expo %>
      <% end %>
    </div>
  </div>
<% end %>
