
<%= turbo_frame_tag "content" do %>
  <div class="container">
    <div class="row" style="margin-top: 7rem; margin-right: 0; margin-left: 0;">
      <% @parties.each do |party| %>
        <%= render partial_select(party), leisure: party %>
      <% end %>
    </div>
  </div>
<% end %>
