
<%= turbo_frame_tag "content" do %>
  <div class="container">
    <div class="row" style="margin-top: 7rem; margin-right: 0; margin-left: 0;">
      <% @films.each do |film| %>
        <%= render partial_select(film), leisure: film %>
      <% end %>
    </div>
  </div>
<% end %>
