<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-1 px-0">
      <%= render 'shared/sidebar' %>
    </div>
    <div class="col-11">

      <%= render 'banners/show' %>
    </div>
  </div>
</div>

<%= turbo_frame_tag "content" do %>
<% end %>



<div class="container">
  <div class="row" style="margin-top: 7rem; margin-right: 0; margin-left: 0;">
    <% @leisures.each do |leisure| %>
      <%= render partial_select(leisure), leisure: leisure %>
    <% end %>
  </div>

</div>
