<%= turbo_frame_tag "content", turbo_cache_control: 'no-cache' do %>
<%= render 'shared/dynamic_header' %>
  <div class="container-fluid mx-2">

    <div class="row">
      <% @leisures.each do |leisure| %>
        <%= render partial_select(leisure), leisure: leisure %>
      <% end %>
    </div>
  </div>
<% end %>
