<div class="container my-3">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-10 col-md-8 p-3">
      <h1 class="text-center fw-bolder">Banners</h1>
      <p class="fw-light text-center">Aqui você poderá realizar todas as ações relacionadas ao banner central da landing page.</p>
    </div>
  </div>
</div>