<div class="d-flex justify-content-between align-items-center p-3">
  <div class="where">
    <h2 class="fs-4">onde:</h2>
    <select class="form-select form-select-sm focus-ring focus-ring-light" aria-label="selecione_zona_evento">
      <option selected>Selecione onde:</option>
      <option value="zona_sul">Zona Sul</option>
      <option value="zona_norte">Zona Norte</option>
      <option value="zona_oeste">Zona Oeste</option>
      <option value="centro">Centro</option>
    </select>
  </div>
  <%= image_tag 'logo_transparent.png', class: 'main-logo' %> 
  <div class="when">
    <h2 class="fs-4">quando:</h2>
    <select class="form-select form-select-sm focus-ring focus-ring-light" aria-label="selecione_data_evento">
      <option selected>Selecione quando:</option>
      <option value="hoje">hoje</option>
      <option value="amanha">amanhã</option>
      <option value="esta_semana">esta semana</option>
    </select>
  </div>
</div>