<div class=" hello d-flex flex-column align-items-center justify-content-center mb-3 px-3" data-controller="header">
  <h2 class="header-rio">O que fazer no RIO DE JANEIRO</h2>
  <h2 class="header-rio">Cultura e Lazer</h2>
  <a href="/"><%= image_tag 'logo_transparent.png', class: 'main-logo', alt: 'Já é - Artsy News Portal' %></a>

</div>
