<div class=" hello d-flex flex-column align-items-center justify-content-center mb-3 px-3" data-controller="header">
  <h2 class="header-rio">RIO DE JANEIRO</h2>
  <a href="/"><%= image_tag 'logo_transparent.png', class: 'main-logo' %></a>

</div>
