<div class=" hello d-flex flex-column align-items-center justify-content-center mb-3 px-3" data-controller="header">
  <h2 class="header-rio">O que fazer no&nbsp;<strong>RIO DE JANEIRO</strong></h2>
  <h2 class="header-rio header-rio-light">cultura e lazer</h2>
  <a href="/"><%= image_tag 'logo_transparent.png', class: 'main-logo', alt: 'Já é - Artsy News Portal' %></a>

</div>
