
  <div class="main-newsletterbox rounded">
    <a href="http://eepurl.com/iMr0Ws" class="text-secondary">

      <div class="main-newsletter__text">
        <p class="text-uppercase text-center mb-0 fs-6">assine nossa</p>
        <p class="text-center mt-0 fs-6"><strong class="text-uppercase">newsletter gratuita</strong></p>
        <div class="d-flex flex-column">
      </div>
    </a>


  </div>
