<div class=" main-search__box row">
  <div class="col-lg-12 col-6 pe-lg-1 pe-md-1 pt-1">
    <div class="main-link__box d-flex justify-content-between align-items-center  rounded">
      <%= link_to 'hoje', leisures_path(date: 'hoje'), class: 'main-link__search', data: {turbo_frame: 'content'}   %>
      <span><i class="fa-solid fa-caret-right"></i></span>
    </div>
  </div>
  <div class=" col-lg-12 col-6 pe-lg-1 pe-md-1 pt-1">
    <div class="main-link__box d-flex justify-content-between align-items-center rounded">
      <%= link_to "fim de semana", leisures_path(date: 'fim_de_semana'), class: 'main-link__search', data: {turbo_frame: 'content'}   %>
      <span><i class="fa-solid fa-caret-right"></i></span>
    </div>
  </div>

  <div class="col-lg-12 col-6 pe-lg-1 pe-md-1 pt-1">
    <div class="main-link__box d-flex justify-content-between align-items-center  rounded">
      <%= link_to "próximo mês", leisures_path(date: 'proximo_mes'), class: 'main-link__search', data: {turbo_frame: 'content'} %>
      <span><i class="fa-solid fa-caret-right"></i></span>
    </div>
  </div>
  <div class=" col-lg-12 col-6 pe-lg-1 pe-md-1 pt-1">
    <div class="main-link__box d-flex justify-content-between align-items-center  rounded">
      <%= link_to "gratuito", leisures_path(date: 'gratuito'), class: 'main-link__search', data: {turbo_frame: 'content'}   %>
      <span><i class="fa-solid fa-caret-right"></i></span>
    </div>
  </div>
</div>
