<div class="main-social">
  <span class="main-social__icon"><i class="fa-brands fa-square-instagram"></i></span>
  <p class="main-social__paragraph">@ja_e</p>
</div>
<div class="main-social my-3">
  <span class="main-social__icon"><i class="fa-solid fa-envelope"></i></span>
  <p class="main-social__paragraph">contato@jae.com</p>
</div>
<div class="main-social">
  <span class="main-social__icon"><i class="fa-brands fa-square-facebook"></i></span>
  <p class="main-social__paragraph">Ja E Grupo</p>
</div>