<div class=" hello d-flex justify-content-between align-items-center py-3 px-4" data-controller="header">
  <div class="where me-2">
    <h2 class="fs-6">onde</h2>
    <select class="form-select form-select-sm focus-ring focus-ring-light" aria-label="selecione_zona_evento" data-action="change->header#searchWhereWhen" data-header-route-value="<%= @path %>">
      <option selected value="<%= leisures_path %>">selecione...</option>
      <option value="leisures/?where=zona_sul">Zona Sul</option>
      <option value="leisures/?where=zona_norte">Zona Norte</option>
      <option value="leisures/?where=zona_oeste">Zona Oeste</option>
      <option value="leisures/?where=centro">Centro</option>
     
      
    </select>
  </div>
  <a href="/"><%= image_tag 'logo_transparent.png', class: 'main-logo' %></a>
  <div class="when d-flex flex-column align-items-end ms-2">
    <h2 class="fs-6">quando</h2>
    <select class="form-select form-select-sm focus-ring focus-ring-light" aria-label="selecione_data_evento" data-action="change->header#searchWhereWhen">
      <option selected value="<%= leisures_path %>">selecione...</option>
      <option value="leisures/?when=hoje" >hoje</option>
      <option value="leisures/?when=amanha">amanhã</option>
      <option value="leisures/?when=semana">esta semana</option>
    </select>
  </div>
</div>
