<div class="container my-3">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-8 p-3">
      <h1 class="text-center fw-bold">Configurações da Seção</h1>
      <p class="fw-light text-center">Aqui você poderá realizar todas as ações relacionadas às seções de cards da landing page.</p>

      <p class="fw-light text-center">Você pode criar quantas seções quiser, mas tente manter um número razoável de seções: recomendamos no máximo 5 seções sendo impressas na landing page.</p>
      
      <p class="fw-light text-center">Siga o passo-a-passo para criar uma nova seção no Já é:</p>
    </div>
  </div>
</div>
  <%= render 'sections/index', sections: @sections %>
  <%= render 'sections/new_section' %>
  <%= render 'sections/destroy_section', sections: @sections %>



