<div class="container mx-auto">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-10 col-md-8">
      <h1 class="text-center fw-bold">Configurações do Card</h1>
      <p class="fw-light text-center"> Aqui você poderá criar, editar e deletar todos os cards que aparecem na landing page. </p>

      <div class="d-flex justify-content-end my-5">
        <%= link_to 'Novo Card', new_card_path, class: 'btn btn-success fw-bold' %>
        <%= link_to 'Ir para Seções', section_config_path , class: 'btn btn-success fw-bold mx-2' %>
      </div>
    </div>

    <div class="col-12 col-lg-10 col-md-8">
      <h2 class="h4 text-center fw-light mb-4">Estes são os cards que existem atualmente na landing page:</h2>
      <p class="fs-6 text-center">Precisa retirar algum card da landing page? Basta clicar no ícone: <i class="fa-solid fa-delete-left text-danger p-2 bg-light"></i> dentro do card que deseja remover.</p>

      <div class="d-flex flex-wrap justify-content-evenly bg-light rounded p-3">
        <%= render 'cards/list', cards: @cards %>
      </div>
    </div>
  </div>
</div>
