.card-film {
  min-width: 13.5em;
  height: 21.5em;
  margin: 0.4em;

  &-image {
    height: 17em;
    width: 100%;

  }
  &-delete {
    top: 5%;
    right: 5%;
  }
  &-body {
    font-size: 0.9em;
    height: 6.3em;
    padding: 0.5em;
  }
}

.card-else {

    min-width: 18.5em;
    height: 21.5em;
    margin: 0.4em;

    &-image {
      height: 17em;
      width: 100%;

    }
    &-delete {
      top: 5%;
      right: 5%;
    }
    &-body {
      font-size: 0.9em;
      height: 6.3em;
      padding: 0.5em;

  }


}
