.legenda-carrosel {
  background-color: rgb(137,	42,	91);
  min-height: 1.5rem;
  margin-bottom: 0.5rem;
}

.legenda-carrosel p {
  color: white;
  margin-left: 3px;
  margin-bottom: 0px;
  font-size: 12px;
}