.card-film {
  width: 10em;
  height: 20em;
  margin: 0.4em 0.8em 0.4em 0.0em;
  flex-shrink: 0;
  overflow: hidden;

  &-image {
    height: 15em;
    width: 100%;
    object-fit: cover;

  }
  &-delete {
    top: 5%;
    right: 5%;
  }
  &-body {
    font-size: 0.9em;
    height: 6.3em;
    padding: 0.5em;
  }
}

.card-film-title {
  text-wrap: wrap;
}

.card-else {

    width: 20em;
    height: 20em;
    margin: 0.4em 0.8em 0.4em 0.0em;
    flex-shrink: 0;
    overflow: hidden;
    &-image {
      height: 15em;
      width: 100%;
      object-fit: cover;

    }
    &-delete {
      top: 5%;
      right: 5%;
    }
    &-body {
      font-size: 0.9em;
      height: 6.3em;
      padding: 0.5em;

  }


}

.card-else-title {
  text-wrap: wrap;
}

@media screen and (max-width: 425px) {
  .card-else {
    width: 14em;
    height: 14em;
    &-image {
      height: 10.5em;
      width: 100%;
      object-fit: cover;


    }
    &-body {
      font-size: 0.75em;
      height: 6.3em;
      padding: 0.5em;
    }
  }
  .card-film {
    width: 7em;
    height: 14em;
    &-image {
      height: 10.5em;
      width: 100%;
      object-fit: cover;

    }
    &-body {
      font-size: 0.65em;
      height: 7.3em;

    }
  }

}
