.menu-filme {
  background-color: rgb(42, 42, 93);
  background-image: linear-gradient(  rgb(42, 42, 93), rgb(236, 240, 251));
  width: 80%;
  height: 7rem;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 72px;
  opacity: 95%;



}



.film-features {
  color: rgb(42, 42, 93);
  font-size: 15px;
  font-weight: bold;
}

.filme {


  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  // border-bottom: 4px solid rgb(42, 42, 93);

}

@media (min-width: 998px) {

  .menu-filme {
    width: 90%;
  }
}

.foto-filme {

  width: 51%;
  background-size: contain;
  background-repeat: no-repeat;
  aspect-ratio: 2 / 3;
  flex-shrink: 0;
  margin-right: 1em;
  justify-self: center;


}

.letreiro-filme {
  align-items: center;
  width: 100%;
  display: grid;
  flex-direction: column;

}

.infos-filme {
  line-height: 1.1;

  flex-direction: column;
  display: flex;
  // justify-content: flex-end;

}

.infos-filme p {
  font-weight: medium;
  font-size: 12px;
  margin-bottom: 0;
  // color:  rgb(42, 42, 93);
  line-height: 1.2;
  text-wrap: wrap;
}

.infos-filme strong {
  line-height: 1.2;
  // color: rgb(42, 42, 93);
  font-size: 16px;
}
