
.sinopse {
  margin-top: 10px;
  line-height: 1.5;
}

.sinopse p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--read-more-line-clamp, 2);
  font-size: 16px;
  font-weight: 300;
}
.letreiro {
  display: flex;
  align-items: end;
  width: 100%;
}

.button-small {
  // height: 1em;
  // width: 5em;
  font-size: 11px;
  border: none;
  color: white;
  background-color: rgb(137,	42,	91);
  margin-top: 5px;
  padding: 5px;
  border-radius: 2px;
}
#horario {
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 0;
  color: black;
  line-height: 1.5;
}

#categoria {
  color: rgb(138, 65, 103);
  font-weight: lighter;
  margin-bottom: none;
}
