
.sinopse {
  margin-top: 10px;
  line-height: 1.5;
}

.sinopse p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: var(--read-more-line-clamp, 2);
  font-size: 16px;
  font-weight: 300;
}

.button-small {
  // height: 1em;
  // width: 5em;
  font-size: 11px;
  border: none;
  color: rgb(231, 228, 228);
  background-color: rgb(137,	42,	91);
  margin-top: 5px;
  padding: 5px;
}
#horario {
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 0;
  color: black;
  line-height: 1.5;
}


.menu-filme {
  background-color: rgb(42, 42, 93);
  background-image: linear-gradient(  rgb(42, 42, 93), rgb(236, 240, 251));
  width: 80%;
  height: 7rem;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 72px;
  opacity: 95%;



}

.letreiro {
  display: flex;
  align-items: end;
  width: 100%;
}



.filme {
  background-color:  rgb(236, 240, 251);

  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 4px solid rgb(42, 42, 93);

}

@media (min-width: 998px) {
  .filme {
    border-left: 2px solid rgb(42, 42, 93);
    border-right: 2px solid rgb(42, 42, 93);


  }

  .menu-filme {
    width: 90%;
  }
}

.foto-filme {

  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 5px;
  width: 7em;
  height: 8em;


}


.infos-filme {
  text-wrap: wrap;
  margin-left: 1px;


}

.infos-filme p {
  font-weight: medium;
  font-size: 12px;
  margin-bottom: 0;
  color:  rgb(42, 42, 93);
  line-height: 1.2;
  text-wrap: wrap;
}

.infos-filme strong {
  line-height: 1.2;
  color: rgb(42, 42, 93);
  font-size: 14px;
}

// teatro

.teatro {
  background-color:  rgb(251, 230, 230);
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 4px solid rgb(134, 43, 43);
}

.foto-teatro {
  background-size: contain;
  background-repeat: no-repeat;
  width: 7em;
  height: 8em;
}

.infos-teatro {
  text-wrap: wrap;
  margin-left: 1px;

}


.infos-teatro p {
  font-weight: medium;
  font-size: 12px;
  margin-bottom: 0;
  color: rgb(134, 43, 43);
  line-height: 1.2;
  text-wrap: wrap;
}

.infos-teatro strong {
  line-height: 1.2;
  color: rgb(134, 43, 43);
  font-size: 14px;
  text-wrap: wrap;
}
