.home {
  display: flex;
  height: 100%;
  width: 89%;
  position: relative;
  left: 8%;
}

.main-content {
  // width: 86%;
  flex: 1;
  padding: 0.1em;
}

.main-logo {
  width: 6em;
}

.main-link__search {
  color: #000;
  font-size: 1.1em;
  padding: 0.2em;
}

.main-paragraph__wine {
  color: $jae-wine;
  font-size: 1.1em;
}

.main-newsletterbox {
  background-color: $dark-gray;
  padding: 2.3em 1.6em;
  font-size: 1.1em;
}

.main-social {
  background-color: $dark-gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.2em;
  &__icon {
    font-size: 3em;
  }
  &__paragraph {
    font-weight: bold;
    font-size: 1.1em;
  }
}

@media screen and (max-width: 768px) {
  .home {
    width: 87%;
    left: 12%;
  }
}

@media screen and (max-width: 425px) {
  .home {
    width: 84%;
    left: 15%;
  }
}

@media screen and (max-width: 375px) {
  .home {
    width: 82%;
    left: 17%;
  }
}