.home {
  display: flex;
  height: 100%;
  width: 100%;
}

.main-content {
  // width: 86%;
  flex: 1;
  padding: 0.1em;
  position: relative;
  left: 9%;
  max-width: 91%;
}

.main-logo {
  width: 6em;
}

.main-link__search {
  color: #000;
  font-size: 1em;
  padding: 0.2em;
  font-weight: 400;
  letter-spacing: 1px;
}
.main-section-bar {
  h3 {
    font-size: 1.1em;
  }
}
.main-search__box {
  margin: 0px;
}


.main-free {
  color: $jae-wine;
  font-size: 1em;
  font-weight: 400;
  margin-bottom: 0px;
  padding-right: 12px;

}

@media screen and (max-width: 767px) {
  .main-search__box {
    font-size: 0.7em;
  }

}
.main-paragraph__wine {
  color: $jae-wine;
  font-size: 1.1em;
}

.main-newsletterbox {
  background-color: $light-gray;
  padding: 1em;
  font-size: 1.1em;
  margin: 0em 0.3em 0.0em 0.7em

}

.main-newsletter__text{
  color: $darker-gray
}

.main-link__box {
  background-color: $dark-gray;
  padding: 4px 4px;
  margin-bottom: 5px
}

.main-social {
  background-color: $dark-gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.2em;
  &__icon {
    font-size: 3em;
  }
  &__paragraph {
    font-weight: bold;
    font-size: 1.1em;
  }
}

.main-section-cards {
  display: flex;
  align-items: flex-start;
  // justify-content: space-evenly;
  overflow-x: auto;
  overflow-y: auto;
  white-space: nowrap;
  max-width: 91vw !important;
  border-top: 3px solid $jae-wine;
  // -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
  scroll-snap-type: x mandatory; /* Optional: for snap scrolling */
  scrollbar-width: thin; /* Optional: to customize scrollbar appearance */
  scroll-behavior: smooth; /* Optional: smooth scrolling */
}

.main-section-cards > .card {
  flex: 0 0 auto;
  scroll-snap-align: start; /* Ensure the cards align at the start */
}

.main-rio {
  color: $jae-wine;
  font-size: 1em;
  font-weight: 400;
  justify-self: center;
  margin-bottom: 0px;
  margin-left: 1em;


}

.invalid-feedback {
  color: #dc3545; /* Red color for errors */
  font-size: 0.875em; /* Slightly smaller font size */
}

.about-us {
  color: black;
}

.about-us h1 {
  color: black;
  font-size: 1.3em;
  font-weight: bolder;
}

.header-rio{

  color: $jae-wine;
  font-size: 0.8em;
  font-weight: 400;
  margin-bottom: 0px;
  justify-content: center;
  display: flex
}

@media screen and (min-width: 768px) and (max-width: 940px) {
  .main-content {
    max-width: 86%;
    left: 8%;
  }

  .main-content__col {
    display: none !important;
  }

  .main-section-cards {
    max-width: 88vw !important;
  }

  .header-rio {
    display: none !important;
  }

}

@media screen and (max-width: 767px) {
  .main-content {
    max-width: 91%;
    left: 9%;
  }
  .main-content__col {
    display: none !important;
  }
  .main-section-cards {
    max-width: 91vw !important;
  }

  .main-rio {
    display: none !important;

  }

}

@media screen and (max-width: 425px) {
  .main-content {
    max-width: 85%;
    left: 15%;
  }
  .main-logo {
    display: none;
  }

  .main-section-cards {
    max-width: 85vw !important;
  }
}

@media screen and (max-width: 375px) {
  .main-content {
    max-width: 85%;
    left: 15%;
  }
  .main-section-cards {
    max-width: 85vw !important;
  }
}

@media screen and (min-width: 950px ) {
  .main-banner {
    box-shadow: .5px 0 0 $dark-gray
  }

  .header-rio {
    display: none !important;
  }


}
