.musica {

  padding-top: 5px;
  padding-bottom: 5px;
  // padding-left: 10px;
  // padding-right: 10px;
  // border-bottom: 4px solid rgb(23, 92, 27);
  height: auto;
}


.menu-musica {
  background-color: rgb(23, 92, 27);
  background-image: linear-gradient(rgb(23, 92, 27), rgb(226, 248, 227));
  height: 7rem;
  width: 80%;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 72px;
  opacity: 95%;



}

#venue {
  color: black;
}

.foto-musica {

  background-size: contain;
  background-repeat: no-repeat;
  width: 10em;
  height: 6em;
  margin-right: 0.7rem;

}



@media screen and (min-width: 998px) {

  .menu-musica {
    width: 90%;
  }
}

.infos-musica {
  line-height: 1.1;

  flex-direction: column;
  display: flex;
  // justify-content: flex-end;
}

.infos-musica p {
  font-weight: medium;
  font-size: 12px;
  margin-bottom: 0;
  // color:  rgb(23, 92, 27);
  line-height: 1.2;

}

.infos-musica strong {
  line-height: 1.2;
  // color:  rgb(23, 92, 27);
  font-size: 16px;
}
