.sidebar {
  height: 93%;
  width: 12%;
  position: fixed;
  left: 1%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

}

.sidebar::-webkit-scrollbar {
  display: none; /* Hide scrollbar */
}

@media screen and (min-width: 767px) {
  .sidebar {
    width: 8%
  }

}

.categorias {
  list-style-type: none;
  padding: 0;
  color: #fff;
  height: 100%;
  // background-color:rgb(137,	42,	91);
  &-cinema,
  &-musica,
  &-teatro,
  &-danca,
  &-evento,
  &-visao,
  &-expo,
  &-mais {
    background-color: #602f56 !important;
  }

  &-icones {
    background-color: $light-green;
    font-size: 1.2em;
  }
}

.lightwine {
  background-color: #b998ab !important;
}

.categorias li, .menu-square li, .categorias > li, .square > li, .categorias a, .menu-square a {
  color: #fff !important;
}

#subcategory-link {
  color: #000000 !important;
}

.icon-square {
  height: 5%;
  // border-radius: 2px;
  width: 100%;
  padding-right: 9px;
  padding-left: 9px;

  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // border: 2px solid white;
}


.square {
  height: 10%;
  // border-radius: 2px;
  margin: 0.2em 0;
  width: 100%;
  padding-right: 9px;
  padding-left: 9px;
  padding-top: 2px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // border: 2px solid white;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.square.transition {
  height: 25%;
  overflow: hidden;
  // align-items: first baseline;
}

#subcategory-link:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px; /* Adjust the thickness */
  text-underline-offset: 1px;



}

.text-decoration-underline-thick {
  text-decoration: underline;
  text-decoration-thickness: 3px; /* Adjust the thickness */
  text-underline-offset: 1px;


}



.menu-square {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 70%;
  align-items: center;
  padding: 0px;



}

.menu-square a {

}

.menu-square li {
  font-size: 0.75em;
  opacity: 70%;
  list-style-type: none;

}

.square > span {
  font-weight: bold;
  // word-break: break-all;
  text-align: center;
  display: inline;
  font-size: 0.875em;
}

#icones {
  background-color:rgb(137,	42,	91);
  color: white;
  padding-top: 4px;

}
#icones li {
  display: flex;
  flex-direction: column;
}

#icones li i {
  margin-top: 2px;
  margin-bottom: 2px;
}

@media screen and (max-width: 425px) {
  .sidebar {
    width: 14%;
  }

  .square li {
    font-size: 0.75em;
  }

  .categorias li {
    font-size: 0.72em;
  }

}
