.sidebar {
  height: 100%;
  width: 12%;
  position: fixed;
  z-index: 1000;
  left: 1%;
}

.categorias {
  list-style-type: none;
  padding: 0;
  color: #fff;
  height: 100%;
  // background-color:rgb(137,	42,	91);
  &-cinema {
    background-color: $dark-blue;
    color: #fff;
  }
  &-musica {
    background-color: $dark-green;
    color: #fff;
  }
  &-teatro {
    background-color: $dark-red;
    color: #fff;
  }
  &-danca {
    background-color: $dark-pink;
    color: #fff;
  }
  &-evento {
    background-color: $dark-mustard;
    color: #fff;
  }
  &-festa {
    background-color: $dark-yellow;
    color: #fff;
  }
  &-expo {
    background-color: $dark-mustard;
    color: #fff;
  }
  &-mais {
    background-color: $other-pink;
    color: #fff;
  }
  &-icones {
    background-color: $light-green;
    font-size: 1.2em;
  }
}

@media screen and (min-width: 998px) {
  .sidebar {
    width: 9%
  }
}

.square {
  height: 10%;
  // border-radius: 2px;
  margin: 0.2em 0;
  width: auto;
  padding-right: 9px;
  padding-left: 9px;
  padding-top: 2px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // border: 2px solid white;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.square.transition {
  height: 27%;
  overflow: hidden;
  // align-items: first baseline;
}


.menu-square {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 70%;
  align-items: self-start;


}

.menu-square li {
  font-size: 0.75em;
  opacity: 70%;


}

.square > span {
  font-weight: bold;
  // word-break: break-all;
  text-align: center;
  display: inline;
  font-size: 0.875em;
}

@media screen and  (max-width: 320px) {


  .square {
    width: 22vw;
  }

  .square li {
    font-size: 0.625em;
  }
}

@media screen and  (min-width: 321px) and (max-width: 375px) {
  .square {
    width: 20vw;
    font-size: 0.650em;
  }

  .square li {
    font-size: 0.650em;
  }

}

#icones {
  background-color:rgb(137,	42,	91);
  color: white;
  padding-top: 4px;

}
#icones li {
  display: flex;
  flex-direction: column;
}

#icones li i {
  margin-top: 2px;
  margin-bottom: 2px;
}
