.atores {
  margin-bottom: 0px;
  color: rgb(134, 43, 43);
  font-size: 14px;
}

.teatro {

  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  // border-bottom: 4px solid rgb(134, 43, 43);
}

@media screen and (min-width: 998px) {

  .menu-teatro {
    width: 90%;
  }


}
.foto-teatro {
  background-size: contain;
  background-repeat: no-repeat;
  width: 7em;
  height: 8em;
}

#venue {
  color: black;
}

.infos-teatro {
  line-height: 1.1;
  min-height: 6.7em;
  flex-direction: column;
  display: flex;
  justify-content: flex-end;
}


.infos-teatro p {
  font-weight: medium;
  font-size: 12px;
  margin-bottom: 0;
  color: rgb(134, 43, 43);
  line-height: 1.2;
  text-wrap: wrap;
}

.infos-teatro strong {
  line-height: 1.2;
  color: rgb(134, 43, 43);
  font-size: 14px;
  text-wrap: wrap;
}
