<div class="nested-fields">
  <%= f.input :name, label: 'Subcategory Name' %>
  <%= f.input :_destroy, as: :boolean, label: 'Remove Subcategory' %>
  <%= link_to_remove_association "Remove", f %>
</div>
